@import url('https://fonts.googleapis.com/css?family=Alegreya|Alice|Bilbo+Swash+Caps|Euphoria+Script|GFS+Didot|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Halant');
/*general sections*/
body {
    max-width: 100% !important;
     overflow-x: hidden !important;
}

.container-fluid {
  max-width: 100%;
  overflow-x: hidden !important;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

img.belle {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



img.black {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.3;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

img.logo {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 200px;
  margin-bottom: 180px;
}

div.container {
  background-color: grey;
  height: auto;
  width:  80%;
  margin: 20px, 30px, 20px ,30px;
}

/*map css*/

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  padding-left: 0px;
  padding-right: 0px;
}



img.roses {
  width: 100%;
  height: auto;
}

/*text css*/
h1, h2 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Halant', serif;
}


h4 {
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: 'Alice', serif;
}

.movie {
  text-align: center;
  margin-top: 270px;
  color: white;
  font-family: 'Halant', serif;
  font-size: 50px;
}

.date {
  margin-bottom: 250px;
  font-size: 30px;
}
@media and (min-width: 1000px) {


div.#feeds {
  height: 200px;
}
}

div.magic {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.trailer {
  margin-left: 200px;
}

@media screen and (max-width: 800px) {
    .trailer {
      zoom: 0.5;
      margin-left: -10px;
    }
}

div#carousel-example-generic {
  background-color: black;
  opacity: 0.9;
}

div.carousel-caption{
  text-align: right;
  width: 300px;
  margin-left: 300px;
  border: 1pt solid white;
  padding-right: 10px;
}



div.titles {
  display: none;
}




div.titles {
  margin-top: 500px;
}

div.intro {
  background-color: white;
}

h4.introduction, h4.stars {
  color: black;
  text-align: center;
}


.behind {
  width: 200px;
  height: 150px;
}



div.actors {
  background-color: grey;
  font-size: 20px;
  height: 500px;
}

div.tumblr {
  background-color: white;
  margin: 0;
}



div.names {
  height: 100px;
  font-size: 60px;
  background-color: black;
  opacity: 0.9;
}

div.twitter {
  background-color: white;
}



img.emmacar, img.lukecar, img.dancar, img.iancar, img.emmatcar, img.stanleycar, img.kevincar, img.joshcar {
  width: 200px;
  height: 300px;
  margin-left: 20%;
  margin-top: 3%;

}

div.imdb {
  margin-top: 20px;
}

div#carousel-example-generic {
  height: 400px;
  width: 100%;
  margin-bottom: 0px;
}

div.carousel-inner {
  height: 400px;
  width: 100%;

}

div#accordion.panel-group {
  height: 400px;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 1000px) {
div.carousel-caption{
  text-align: right;
  width: 300px;
  margin-left: 200px;
  border: 1pt solid white;
  padding-right: 10px;
  display: none;
  }
}

@media screen and (max-width: 800px) {
    .container-fluid {
        margin-top: -200px;

    }

    div.titles {
      background-size: 500px;

    }

    .samplemap {
      width: 100%;
      height: auto;
    }
    div.describe {
      /*margin-left: 32px;*/
    }

    div.intro {
      margin: 0, 0, 0, 0;
    }

    img.logo {
      margin-bottom: 50px;
    }

    div.tumblr {
      zoom: 0.5;
    }

    div.carousel-caption{
      text-align: right;
      width: 300px;
      margin-left: 300px;
      border: 1pt solid white;
      padding-right: 10px;
      display: none;
    }

    img.emmacar, img.lukecar, img.dancar, img.iancar, img.emmatcar, img.stanleycar, img.kevincar, img.joshcar {
      width: 200px;
      height: 300px;
      margin-left: 13%;
      margin-top: 7%;


    }





}
